$main-color: #121417;
$main-bckgrd: #ffffff;
$main-bckgrd1: #f8f8f8;
$btn-color: #f4c550;
$desc-color: #121417b2;
$border-color: #fbe9ba;
$border-color1:#1214171A;
$line-color:#12141733;
$text-color:#8A8A89;
$online-color:#38CD3E;
$backdrop:rgba(0, 0, 0, 0.8);
$hover-color:#FFDC86;


