$main-color:#121417;
$main-bckgrd:#FFFFFF;
$main-bckgrd1:#F8F8F8;
$btn-color:#F4C550;
$desc-color:#121417B2;
// :#F4C550;
// :#FBE9BA;
// :#9FBAAE;
// :#CBDED3;
// :#9FB7CE;
// :#BFD6EA;
// :#E0A39A;
// :#F2C0BD;
// :#F0AA8D;
// :#F4C8BA;
