@import "../../assets/styles/utils/vars";
@import "../../assets/styles/utils/mixins";

.wrapper {
  background-color: $main-bckgrd1;
  
  padding-top: 32px;
  @include container;
  @include mobileplus{
    padding-left: 10px;
    padding-right: 10px;
  }
  @include tablet{
    padding-left: 15px;
    padding-right: 15px;
  }
  @include desktop{
    padding-left: 25px;
    padding-right: 25px;
  }
}
.listOfCards >li:not(:last-child){
  @include mobileplus{
    margin-bottom: 15px;
  }
  @include tablet{
    margin-bottom:20px ;
  }
}

.btn_load {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 183px;
  height: 60px;
  border-radius: 12px;

  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  border: none;
  background-color: $btn-color;

  margin-top: 32px;
  margin-bottom: 24px;

  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
}
