@import "../../assets/styles/utils/vars";
@import "../../assets/styles/utils/mixins";

.wrapper {
  @include container;

  @include mobile {
    padding-left: 8px;
    padding-right: 8px;
  }
  @include tablet {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include desktop {
    padding-left: 36px;
    padding-right: 36px;
  }
}
.info_block {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  @include mobileplus {
    flex-direction: column;
  }
  justify-content: space-between;
}
.info_block__content {
  border-radius: 30px;
  background-color: $main-bckgrd1;
  @include mobile {
    padding: 20px 15px;
    margin-bottom: 15px;
  }
  @include tablet {
    padding: 20px 20px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  @include desktop {
    width: 720px;
    height: 530px;
    margin-right: 24px;
    padding: 98px 64px;
  }
}

.info_block__span {
  font-style: italic;
  @include mobileplus {
    font-size: 30px;
  }
  @include tablet {
    font-size: 36px;
  }
  @include desktop {
    font-size: 48px;
  }
}
.info_block__title {
  letter-spacing: -0.02em;
 
  font-weight: 500;
  @include mobileplus {
    font-size: 30px;
    line-height: 36px;

    margin-bottom: 10px;
  }
  @include tablet {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  @include desktop {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 20px;
  }
}
.info_block__desc {
  line-height: 22px;
  letter-spacing: -0.02em;
  @include mobileplus {
    font-size: 14px;
    margin-bottom: 10px;
  }
  @include desktop {
    font-size: 16px;
    margin-bottom: 64px;
  }
}
.avatar {
  border-radius: 30px;
  @include tablet {
    width: 397px;
  }
  @include desktop {
    width: 568px;
    height: 530px;
  }
}
.link {
  display: flex;
  @include mobileplus{
    justify-content: center;
  }
@include tablet{

}
}
.info_block__btn {
  width: 267px;
  height: 60px;

  padding: 16px 88px 16px 88px;
  border-radius: 12px;
  border: none;

  background-color: $btn-color;

  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;

  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
}
