@import "../../assets/styles/utils/vars";
@import '../../assets/styles/utils/mixins';

.wrapper {
    @include container
}
.info_block {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.info_block__content {
  width: 720px;
  height: 530px;
  border-radius: 30px;

  background-color: $main-bckgrd1;

  margin-right: 24px;

  padding: 98px 64px;
}
.avatar {
  width: 568px;
  height: 530px;
  border-radius: 30px;
}
.info_block__span {
  font-size: 48px;
  font-style: italic;
  line-height: 56px;
  letter-spacing: -0.02em;
}
.info_block__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
.info_block__desc {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;

  margin-bottom: 64px;
}
.info_block__btn {
  width: 267px;
  height: 60px;

  padding: 16px 88px 16px 88px;
  border-radius: 12px;
  border: none;

  background-color: $btn-color;

  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;

  cursor: pointer;
}
