@import "../../assets/styles/utils/vars";
@import "../../assets/styles/utils/mixins";

.link_list{
    display: flex;
    @include mobileplus{
        flex-direction: column;
        margin-top: 20px;
    }
}
.link_list >li:not(:last-child){
margin-right: 28px;
}

.link{
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
padding-top: 34px;
padding-bottom: 34px;
&:hover,
&:focus{
    color: $hover-color; 
}

}
.link_item{
    padding-top: 34px;
    padding-bottom: 34px;
}