@import "../../assets/styles/utils/vars";
@import "../../assets/styles/utils/mixins";

.wrapper {
  border: 1.5px dashed $btn-color;
  border-radius: 30px;
}
.statistic_list {
  display: flex;
  justify-content: center;
  @include mobileplus{
    flex-direction: column;
  }
  @include tablet{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.statistic_list > li:not(:last-child) {
  @include tablet{
    margin-right: 50px;
  }
  @include desktop{
    margin-right: 100px;
  }
 
}
.statistic_item{
  @include mobileplus{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
    margin-top: 40px;
    margin-bottom: 40px;
}
.contentBlock_wrapper {
  display: flex;
}
.contentBlock_title {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.02em;

  margin-right: 16px;
}
.contentBlock_desc {
  max-width: 96px;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: $desc-color;
}
