@import "../../assets/styles/utils/vars";
@import "../../assets/styles/utils/mixins";

.wrapper {
  @include container;

  @include mobile {
    padding-left: 8px;
    padding-right: 8px;
  }
  @include tablet {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include desktop {
    padding-left: 36px;
    padding-right: 36px;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.logo_image {
  width: 28px;
  height: 28px;

  margin-right: 8px;
}
.logo_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}
