@import "../../assets/styles/utils/vars";
@import "../../assets/styles/utils/mixins";

.wrapper{
  display: flex;
  align-items: center;
  @include mobileplus{
    flex-direction: column;
  }
}
.btn_login {
  display: flex;
  border: none;
  background-color: $main-bckgrd;

  margin-right: 16px;
  cursor: pointer;
}
.svg {
  margin-right: 8px;
}

.login {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}
.btn_reg {
  width: 166px;
  height: 48px;
  border-radius: 12px;

  color: $main-bckgrd;
  background-color: $main-color;

  margin-top: 20px;
  margin-bottom: 20px;

  cursor: pointer;
}
